{% extends "home/base.html" %}

{% block name %}
    {{ name }}
{% endblock name %}

{% block content %}
<p>

    <table class="table">
    <tr>
        <td>{{ acc_num }}</td>
        <td>{{ balance }}</td>
        <td>
            <form action="account" method="post">
                {% csrf_token %}
                {{ form.as_p }}
                <input type="hidden" name="acc_num" value="{{acc_id}}" />
                <input type="submit" name="submit" value="Deposit"/>
            </form>
        </td>
    </tr>
    </table>


</p>
{% endblock content %}