{% extends "home/base.html" %}

{% block name %}
<li><a href = "/merchant">Home</a></li>
<li><a href = "create">Create Account</a></li>
<li><a href = "edit_prof">Edit Profile</a></li>

{% endblock name %}

{% block content %}
<p>

    <table class="table">
    <tr>
        <th>Account Number</th>
        <th>Balance</th>
    </tr>
    {% for acc_num,balance in acc %}
    <tr>
        <td>{{ acc_num }}</td>
        <td>{{ balance }}</td>
    </tr>
    {% endfor %}
    </table>
    <form action="deposit/" method="post">
            {% csrf_token %}
            <input type="hidden" name="acc_num" value="{{ acc_no }}" />
            <input type="submit" name="submit" value="Deposit"/>
    </form>
    <form action="transfer/" method="post">
            {% csrf_token %}
            <input type="hidden" name="acc_num" value="{{ acc_no }}" />
            <input type="submit" name="submit" value="Transfer"/>
    </form>
    <form action="withdraw/" method="post">
            {% csrf_token %}
            <input type="hidden" name="acc_num" value="{{ acc_no }}" />
            <input type="submit" name="submit" value="Withdraw"/>
    </form>
</p>
{% endblock content %}