{% extends 'home/base.html' %}

{% block title %}Register{% endblock %}


{% block content %}
  <h2>Please provide these additional details to complete your registration</h2>
  <form method="post">
    {% csrf_token %}
    {{ form.as_p }}
  <p> Please copy this key file and store it somewhere safe. This is highly sensitive data,
      and if you lose it, we cannot recover it for you (we don't store your key in our database, only
      the key pair)
  </p>
    <button type="submit">Sign up</button>

  </form>
    <p> Account will be disabled until approved by sysadmin.</p>
{% endblock %}
