{% extends "home/base.html" %}

{% block name %}

<li><a href="view"> View transactions </a></li>
<li><a href="pending"> Approval for User </a></li>
<li><a href="removal"> Remove User </a></li>
<li><a href="approv"> Approve Accounts </a></li>

{% endblock name %}



{% block content %}
    {% for user,group in user_groups %}
        <b>{{ user }}</b> has group <b>{{ group }}</b>
        <form method="post">
            {% csrf_token %}
            <input type="hidden" name="name" value="{{ user }}" />
            <input type="hidden" name="group" value="{{ group }}" />
            <input type="submit" value="Approve">
        </form>

    {% endfor %}
{% endblock content %}