{% extends "home/base.html" %}

{% block name %}

    <li><a href="view"> View transactions </a></li>
<li><a href="pending"> Approval for User </a></li>
<li><a href="removal"> Remove User </a></li>
<li><a href="approv"> Approve Accounts </a></li>

{% endblock name %}

{% block content %}
<p>
<h2>Transfers</h2>
    <table class="table">
    <tr>
        <th>Time</th>
        <th>Sender</th>
        <th>Sender's account</th>
        <th>Receiver</th>
        <th>Receiver's account</th>
        <th>Amount</th>
    </tr>
    {% for pk,tim,sen,sen_acc,rec,rec_acc,amo,pen in trans %}
    <tr>
        <td>{{ tim }}</td>
        <td>{{ sen }}</td>
        <td>{{ sen_acc }}</td>
        <td>{{ rec }}</td>
        <td>{{ rec_acc }}</td>
        <td>{{ amo }}</td>
    </tr>
    {% endfor %}
    </table>


</p>
</br></br>
<p>
<h2>Withdrawl</h2>
    <table class="table">
    <tr>
        <th>Owner</th>
        <th>Owner's account</th>
        <th>Amount</th>
    </tr>
    {% for pk,sen,sen_acc,amo,pen in withdraw %}
    <tr>
        <td>{{ sen }}</td>
        <td>{{ sen_acc }}</td>
        <td>{{ amo }}</td>
    </tr>
    {% endfor %}
    </table>


</p>
</br></br>
<p>
<h2>Deposits</h2>
    <table class="table">
    <tr>
        <th>Owner</th>
        <th>Owner's account</th>
        <th>Amount</th>
    </tr>
    {% for pk,sen,sen_acc,amo,pen in depoit %}
    <tr>
        <td>{{ sen }}</td>
        <td>{{ sen_acc }}</td>
        <td>{{ amo }}</td>
    </tr>
    {% endfor %}
    </table>


</p>

{% endblock content %}